<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board | New Message</title>
  </head>
  <body>
    <form method="post" action="/new">
      <h2>Message Form</h2>
      <p>
        <label for="author">Author Name:</label>
        <input type="text" name="author" id="author" />
      </p>
      <p>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" />
      </p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
